<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div style="margin-right: 46px;">
            <img src="./img/logo.png" class="img-fluid" style="max-height: 30px;">
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active nav-header-link" aria-current="page" onclick="navigateToHome()">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-header-link" onclick="navigateToRecherche()">Recherche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-header-link" onclick="navigateToLocation()">Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-header-link" onclick="navigateToProfile()">Profil</a>
                </li>


        </div>
    </div>
</nav>